<!DOCTYPE html>
<html class="loginHtml">
<head>
    <meta charset="utf-8">
    <title>验证令牌</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="__ROOT__/Public/views/favicon.ico">
    <link rel="stylesheet" href="__ROOT__/Public/views/layui/css/layui.css" media="all" />
    <style>
        .box{
            margin: 100px auto;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            text-align: center;
            line-height: 300px;
            font-size: 13px;
            color: #ffffff;
        }
    </style>
</head>
<!--body禁止选中复制等操作-->
<body oncontextmenu="return false" onselectstart="return false">
    <div class="box layui-anim layui-anim-up" style="background-color: {$text_data['bgc']};">
        <h1>{$text_data['text']}</h1>
    </div>
    <iframe src="__ROOT__/Public/views/page/master_page/foot.html" frameborder="0" height="40" style="display: block; width: 100%;position: absolute;bottom: 0"></iframe>
<script type="text/javascript" src="__ROOT__/Public/views/layui/layui.js"></script>
</body>
</html>