<!DOCTYPE html>
<html>
<head>
    <title>忘记密码</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
    <style>
        .form-box{
            margin-top: 50px;
            width: 100%;
            height: auto;
        }
        .layui-form{
            width: 80%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="form-box">
<form class="layui-form">
    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
        <div class="layui-input-block layui-red pwdTips" style="font-size: 20px">忘记密码</div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" id="username" value="" placeholder="请输入用户名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" id="item-way">
            <label class="layui-form-label">验证方式</label>
            <div class="layui-input-block">
                <select name="way" lay-filter="way">
                    <option value=""></option>
                    <option value="1">邮箱</option>
                    <option value="2">手机短信</option>
                </select>
            </div>
        </div>
    </div>
</form>
</div>
<iframe id="master-foot" name="master-foot" src="../master_page/foot.html" frameborder="0" height="40" style="display: block; width: 100%;position: absolute;bottom: 0"></iframe>

<script type="text/javascript" src="../../common_config/common.js"></script>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="forget_password.js"></script>
</body>
</html>