<script type="text/javascript" src="../../common_config/verifyRole/verifyRole.js"></script>
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../../common_config/verifyRole/verifyRole.js"></script>
    <meta charset="utf-8">
    <title>在线用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../css/public.css" media="all" />
    <style>
        .layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote quoteBox">
    <div class="layui-inline">
        <a class="layui-btn layui-btn-normal" id="refresh">立即刷新</a>
    </div>
    <div class="layui-inline" style="float: right; padding-right: 45px">
        <div style="margin-top: 10%">当前在线人数: <span id="onlineNum"></span></div>
    </div>
</blockquote>
<table id="userOnline" lay-filter="user_online"></table>
<!--操作-->
<script type="text/html" id="Bar">
    <a class="layui-btn layui-btn-xs" style="margin-top: 3px" lay-event="downline">下线</a>
</script>
<script type="text/javascript" src="../../common_config/common.js"></script>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="userOnline.js"></script>
</body>
</html>