<script type="text/javascript" src="../../common_config/verifyRole/verifyRole.js"></script>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章列表--layui后台管理模板 2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;">
    <br>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
            <!--    存放id-->
            <input class="layui-input layui-disabled" disabled type="text" id="id" value="">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">软件名</label>
        <div class="layui-input-block">
            <input type="text" id="app_name" class="layui-input layui-disabled" disabled placeholder="" value="">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">原先</label>
        <div class="layui-input-block">
            <div class="layui-carousel" id="carousel" lay-filter="carofilter">
                <div carousel-item="" class="carouselBox">
                <!--存放轮播-->
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">更改为</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="test2">多图片上传</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" id="demo2"></div>
                </blockquote>
            </div>
        </div>
    </div>
    <div style="display: none" id="temp_editor"></div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">描述:</label>
        <div class="layui-input-block">
            <div id="editor"></div>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm" id="submit" type="button">立即设置</button>
            <div style="float: right;font-size: 12px">上次编辑时间：<span id="add_time"></span></div>
        </div>
    </div>
</form>
<!--富文本编辑器-->
<script type="text/javascript" src="../../plugin/HandyEditor/HandyEditor-master/HandyEditor.min.js"></script>
<script type="text/javascript" src="../../common_config/common.js"></script>
<script type="text/javascript" src="../../layui/layui.js"></script>
<script type="text/javascript" src="cover_edit.js"></script>
</body>
</html>